<tr data-th-each="agent : ${model.agents}">
    <td data-th-text="${agent.name}">Agent Smith</td>
    <td data-th-text="${agent.email}">void10@null.org</td>
    <td data-th-text="${agent.id}">C48GD2D39EG0F5B</td>
</tr>
<tr id="replaceMe">
    <td colspan="3">
        <center>
            <button class="btn" data-th-attr="data-hx-get=${'/agents/?page=' + model.page}" data-hx-target="#replaceMe" data-hx-swap="outerHTML">
                Load More Agents...
            </button>
        </center>
    </td>
</tr>
