<!DOCTYPE html>
<html lang="en" data-th-fragment="layout (title, content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/webjars/htmx.org/1.9.2/dist/htmx.min.js"></script>
    <title>htmx with http4k and Thymeleaf template</title>
</head>
<body>
<h1>htmx with http4k and Thymeleaf template</h1>
<h2 data-th-insert="${title}">Title</h2>
<div data-th-replace="${content}">Layout content</div>
</body>
</html>
