<!DOCTYPE html>
<html lang="en" data-th-replace="~{layout.html :: layout(~{::title/content()}, ~{::content})}">
<body>
<h1 data-th-fragment="title">Value select</h1>
<div data-th-fragment="content">
    <div>
        <label>Make</label>
        <select name="make" data-hx-get="/models" data-hx-target="#models" data-hx-indicator=".htmx-indicator">
            <option value="" selected></option>
            <option data-th-each="make : ${model.makes}" data-th-value="${make.id}" data-th-text="${make.name}">Make
            </option>
        </select>
    </div>
    <div>
        <label>Model</label>
        <select id="models" name="model">
        </select>
    </div>
</div>
</body>
</html>
